.coder-app {
  flex: 1;
  display: flex;
  padding: 20px 120px 20px 20px;

  .el-form {
    flex: 1;

    .el-form-item__content {
      display: flex;

      .el-select {
        width: 480px;
      }

      .el-button {
        margin-left: 16px;
      }
    }

    .options {
      div {
        margin-bottom: 10px;
      }
    }

    .handler {
      .el-button:first-child {
        margin: 0;
      }
    }
  }
}
